/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
  border: 5px outset red;
  margin: 5px;
  padding: 5px;
  background-color: #dddcef;    
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 25%;
}
#two {
  border: 5px outset orange;
  margin: 5px;
  padding: 5px;
  background-color: #dddcef;    
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
}
#three {
  border: 5px outset green;
  margin: 5px;
  padding: 5px;
  background-color: #dddcef;    
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
}
#four {
  border: 5px outset blue;
  margin: 5px;
  padding: 5px;
  background-color: #dddcef;    
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 25%;
}
a:link, a:visited {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 5px;
  background-color: #4663cd;
  padding: 10px 9px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #fefefe;
  text-decoration: none;
  text-shadow: 0 1px 0 #3c58c7;
}

a:hover, a:active {
  background-color: #00a;
}
